# Core Flask Application
Flask==2.3.2
Flask-Login==0.6.3

# Database
SQLAlchemy>=2.0.36

# Data Processing
pandas==2.2.3

# PDF Generation
reportlab==4.0.7

# Image Processing (Required by ReportLab)
Pillow==10.1.0

# Text Processing
num2words==0.5.11

gunicorn==23.0.0